body {
    background-color: black;
    color: #989898;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #989898;
    text-decoration: none;
}

a:link {
    color: #989898;
    text-decoration: none;
}

a:visited {
    color: #989898;
}

.main-logo {
    max-width: 400pt;
    width: 100%;
}
